body {
    margin: 0;
    background: #1b1111;
    color: white;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    padding: 20px 0;
    background: #000000;
    font-size: 24px;
}

.hero img {
    display: left;
    margin: 20px auto;
    width: 700px;
    border-radius: 50px;
}

nav {
    text-align: center;
    margin-top: 20px;
}

.btn {
    padding: 12px 50px;
    background:#d1362a;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
}

.catalog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 30px;
}

.item {
    background: #1c1c1c;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
}

.item button {
    margin-top: 10px;
    background: #d1362a;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    border-radius: 6px;
    font-weight: bold;
}

.item button:hover {
    background: #e04b3b;
}
